.post-feed {
  margin-top: 140px;
}

.post {
  width: 550px;
  border: $lighter-gray 0.5px solid;
  background-color: white;
  font-family: $roboto;
  margin: 0 auto;
  margin-top: 60px;
  border-radius: 3px;
}

.post:last-child {
  margin-bottom: 60px;
}

.post-item-top {
  height: 60px;
}
.post-item-top-text {
  padding: 10px;
  display: flex;
}

.author-profile-photo{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 5px;
  object-fit: cover;
  object-position: center;
}

.author-and-location{
  flex-direction: column;
}

.post-author {
  font-weight: 600;
  font-size: 16px;
  padding-left: 15px;
}
 .post-location {
  // font-weight: 600;
  font-size: 13px;
  padding-left: 15px;
 }

 .post-action-icons{
   font-size: 24px;
   display: flex;
   flex-direction: row;
   // margin-top: 2px;
 }

 // .likes-comments-container {
 //   border: 1px solid $lighter-gray;
 // }

 .like-icon {
   margin-left: 16px;
   margin-top: 10px;
   cursor: pointer;
 }

 .liked {
   color: #EE2C2C;
 }

 .bookmarked {
   color: $darkest-gray;
 }

 .comment-icon {
  margin-left: 16px;
  cursor: pointer;
  margin-top: 8px;
 }

 .comment-icon:hover{
  color: $gray;
 }

 .bookmark-icon {
   margin-left: 430px;
   margin-top: 10px;
   cursor: pointer;
 }

 .num-likes {
  margin-left: 16px;
  margin-bottom: 10px;
  margin-top: 5px;
  font-family: $roboto;
  font-size: 14px;
  font-weight: 600;
 }

.comment-snippet {
  margin-left: 5px;
  font-family: $roboto;
  font-size: 14px;
  margin-bottom: 10px;
}

.comment-author {
  font-weight: 600;
}

.comment-body {
  margin-left: 5px;
}

.feed-post-age{
  font-family: $roboto;
  color: $gray;
  font-size: 12px;
  margin-left: 16px;
  margin-right: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid $lighter-gray;
  margin-bottom: 4px;
}

.add-comment {
  margin-left: 10px;
  font-family: $roboto;
  font-size: 14px;
  margin-bottom: 2px;
  width: 100%;
}

.delete-comment {
  font-size: 14px;
  float: right;
  margin-right: 26px;
  margin-top: 6px;
  color: $gray;
}
