.profile-grid {
  width: 935px;
  margin: 0 auto;
  margin-top: 390px;
}

.profile-grid-item {
  width: 290px;
  height: 290px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 25px;
}

.profile-grid-item img {
  float: left;
  min-width: 100%;
  min-height: 100%;
}

.profile-grid-item:nth-child(3n+2) {
  margin-left: 25px;
  margin-right: 25px;
}
