.login-form-logo {
  font-family: $pacifico;
  font-size: 36px;
  padding: 2px;
}

.login-form-blurb {
  // font-family: $roboto;
  color: $gray;
  font-weight: 500;
  font-size: 18px;
  width: 220px;
  margin: 0 auto;
  padding: 5px;
}

.login-form-container {
  width: 348px;
  text-align: center;
  font-family: $roboto;
  background-color: white;
}

.login-form-subcontainer {
  border: $lighter-gray 1px solid;
  padding: 20px;
  font-size: 14px;
  margin-bottom: 10px;
}

.login-form {
  margin-bottom: 10px;
}

.login-form-secondary {
  border: $lighter-gray 1px solid;
  padding: 20px;
  font-size: 14px;
}

.login-form-or {
  // font-size: 14px;
  // color: $gray;
  // padding-top: 5px;
  width: 270px;
  // text-align: center;
  margin: auto;
  border-bottom: 1px solid $light-gray;
  line-height: 0.1em;
  margin: 13px 0 10px 18px;
}

.login-form-or span{
  font-size: 14px;
  color: $gray;
  padding: 0 20px;
  background-color: white;
}

.login-input {
  width: 270px;
  // padding: 5px 0;
  // margin: 10px 0px;
  border: $light-gray 1px solid;
  background-color: $lightest-gray;
  // color: $gray;
  font-size: 14px;
  text-align: left;
  border-radius: 4px;
  // font-weight: 400;
  // font-stretch: expanded;
  // text-indent: 8px;
}

.login-form-button {
  margin: 10px 0px;
  padding: 6px 0;
  width: 270px;
  background-color: $button-blue;
  color: white;
  font-size: 14px;
}

.login-terms {
  font-size: 14px;
  width: 200px;
  // text-align: center;
  margin: 0 auto;
  color: $gray;
}

.login-form-alt-link {
  color: $button-blue;
}
