@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Pacifico|Roboto:400,700');//Fonts
@import url('https://fonts.googleapis.com/css?family=Satisfy');

$amatic-sc: "Amatic SC";
$pacifico: "Pacifico", cursive;
$roboto: "Roboto", sans-serif;
$satisfy: 'Satisfy', cursive;

//Styles
