@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Pacifico|Roboto:400,700');//Fonts
$amatic-sc: "Amatic SC";
$pacifico: "Pacifico", cursive;
$roboto: "Roboto", sans-serif;

//Styles
